.card {

  margin: 0 20px 80px !important;
  padding: 20px !important;
  position: relative;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.16), 0 1px 1px 0 rgba(0,0,0,0.12);
  display: flex !important;
  flex-direction: column;

  @include transicion($time: 0.6s);

  &:hover {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  }

  &__title {
    text-align: center;
    margin-bottom: 20px;
  }

  &__description {
    margin-bottom: 20px;
  }

  &__button {
    margin: 20px;
  }

  footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;

    .card__fecha {
      align-self: flex-end;
    }
  }


  &--rounded {
    border-radius: 20px;
  }

  &--squared {
    border-radius: 0;
  }

  &--flat {
    box-shadow: none;
    border: 1px solid map-get($theme-colors, 'gris02');
  }

}
