:root {
  --swiper-theme-color: #{map-get($theme-colors, 'primary')};
}

// .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
//   color: map-get($theme-colors, 'primary');
// }

.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 1.6rem;
}
