/**
 * Header
 */

.banner {
  background: map-get($theme-colors, 'gris01');
  border-bottom: .1rem solid map-get($theme-colors, 'gris02');
  max-width: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .brand {
    padding: 12px 0;
    font-size: 3rem;
  }
  .nav-primary ul {
    list-style: none;
    margin-bottom: 0;
    display: flex;

    li.menu-item {
      margin-bottom: 0;
      margin-left: 2.5rem;
    }
  }
}
