.item {
  background-color: map-get($theme-colors, 'gris01');
  margin: 0 5px 20px;
  padding: 20px;
  h2 {
    font-size: 22px;
    font-weight: bold;
  }
}


.pages {
  margin: 20px 0;
  .page {
    @extend .item;
    margin: 0 10px 20px;
  }
}

.posts {
  margin: 20px 0;
  padding: 40px 0;
  border-top: 1px solid map-get($theme-colors, 'primary');
  .article {
    background-color: map-get($theme-colors, 'gris02');
    @extend .item;
  }
}
