/**
 * Global
 */
body {
  background-color: map-get($theme-colors, 'blanco');
  margin: 0;
  padding: 0;
}
a {
  color: map-get($theme-colors, 'primary');
  @include enlace;
}

.main {
  margin-top: 80px;
}

/**
 * Block editor color palette utilities
 * @see https://git.io/JeyD6
 */

@each $color-name, $color-value in $theme-colors {
  .has-#{$color-name}-color {
    color: $color-value;
  }

  .has-#{$color-name}-background-color {
    background-color: $color-value;
  }
}
