// @include transicion();
@mixin transicion ( $prop: all, $time: 0.4s, $ease: ease-in-out) {
  transition: $prop $time $ease;
}

// @include enlace();
@mixin enlace ( $c: map-get($theme-colors, 'primary'), $c2: null ) {
  @if ($c2 == null) {
    $c2: lighten(rgba($c, 0.7), 20%);
  }

  color: $c;
  text-decoration: none;
  font-weight: 300;

  // @include transicion;

  &:hover {
    color: $c2;
    text-decoration: underline;
    // border-bottom: 1px solid;
  }
}
